@import "tailwindcss";

:root {
  --purple: #8c19d2;
  --blue: #0069ca;
  --profile-backgrund-mobile: #eaddff;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
