@import "tailwindcss";

:root {
  --purple: #8c19d2;
  --blue: #0069ca;
  --profile-backgrund-mobile: #eaddff;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  #root {
    width: 85%;
  }
}

body {
  margin: 0;
}
